@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700;800&family=Open+Sans:wght@300;400&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family:'Open Sans';
    font-weight: lighter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img { 
    width: 100%
}

.nav-container {
    background: #141115;

    a {
        color: #FFF1E1;
    }

    nav {
        float: right;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-family: "Bitter";
        padding-top: .3em;
        padding-left: 1em;
        font-size: .7em;
    }

    ul {
        display: flex;
        font-size: .7em;
        padding-top: .1em;
        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.right-header {
    display: none;
}

.topmain {
    background: #141115;
    color: #FFF1E1;
    display: grid;
    text-align: left;
    height: 80%;
    
    .top-content {
        margin-left: 2.7em;
    }

    .top-title {
        font-family: "Bitter";
        font-size: 3em;
    }
  
}

.cta {
    display: flex;
    font-weight: bold;
    margin-top: -2em;

    .meet-button {
        border-radius: 25px;
        background: #FEBC71;
        width: 8em;
        height: 2em;
        padding-left: 1.5em;
        padding-top: .5em;
        margin-top: 1.5em;
        margin-right: 1em;
    }

    img {
        height: 2em;
        margin-right: .5em;
        margin-top: 1.7em;
    }
}

.topmain-elements {
    display: none;
}

section {
    padding: 2.5em 2.5em;
    text-align: left;
}

.about {
    position: relative;
    background-color: #FFF1E1;
    z-index: -1;
}

.floral-image-about {
    position: absolute;
    width: 20em;
    margin-left: -4em;
    z-index: -1;
    margin-top: -1.5em;
}

.about-subtitle, .about-experience {
    font-size: 1.3em;
    margin-bottom: 0em;
}

.about-title {
    font-family: "Bitter";
    font-weight: 700;
    font-size: 3em;
    margin-top: 0em;
}

.about-body {
    margin-top: -1em;
}

.about-toptech {

    margin-top: 3em;

    .about-tech {
        
        display: flex;
        text-align: center;
        width: 100%;

        .about-tech-id {
            width: 7em;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        li {
            flex-grow: 1;
            margin-top: 1em;
        }

        img {
            height: 3.5em;
            margin: 0 auto;
            padding-bottom: .5em;
        }
    }
}

.tech-title {
    border-radius: 25px;
    font-size: 1em;
    color: #FFF1E1;
    background: #141115;
    width: 6em;
    margin: 0 auto;
}

.about-exp {
    margin-top: 3em;
}

.job-header {
    .job-title {
        font-family:"Bitter";
        font-size: 1.5em;
    }

    .job-loc {
        font-family:"Bitter";
        margin-top: -1em;
        font-weight: 700;
        font-size: 1em;
    }

}

.job-time {
    margin-top: -.5em;
    font-weight: 100;
    font-size: .95em;
}

.job-technologies {
    display: flex;

    ul {
        display: flex;
        flex-direction: row;
    }
    .job-tech {
        border-radius: 25px;
        font-size: 1em;
        color: #FFF1E1;
        background: #141115;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: .5em;
        margin-top: 0em;
    }
}

.job-desc {
    ul {
        margin-left: 1.2em;
        list-style-type: disc;
    }
}


.portfolio-floral {
    position: absolute;
    width: 13em;
    margin-left: -2.1em;
    margin-top: -10em;
    z-index: 1;
}
.portfolio {
    background: #141115;
    
    .portfolio-title {
        font-family: "Bitter";
        font-size: 3em;
        position: relative;
        z-index: 5;
    }

    .portfolio-hr {
        margin-top: -2em;
    }

    .portfolio-box {
        background: #FFF1E1;
        z-index: 0;
        padding-left: 2.1em;
        padding-right: 2.1em;
        padding-top: .5em;
        border-radius: 25px;
    }

    .portfolio-tech {
        position: relative;
        z-index: 1;
    }

    .portfolio-github {
        height: 2em;
    }

    .portfolio-preview {
        border-radius: 25px;
        background: #A3320B;
        width: 8em;
        height: 2em;
        padding-left: 2.2em;
        padding-top: .5em;
        margin-right: 1em;
        font-weight: 1000;
        color: #FFF1E1;
        margin-left: 1em;
    }

    .portfolio-interact {
            margin-bottom: 1em; 
            display: flex;
            flex-direction: row;
    }

    .portfolio-github {
        margin-top: 1.2em;
    }

    .portfolio-tech-ul {
        display: flex;
        flex-direction: row;
        margin-top: 1em;

        .portfolio-tech {
            border-radius: 15px;
            font-size: 1em;
            color: #FFF1E1;
            background: #141115;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: .5em;
            margin-top: 0em;
        }
    }

    .portfolio-image {
        width: 100%;
        height: 30%;
        background: #A3320B;
        border-radius: 15px;
        padding-left: 2.1em;
        padding-right: 2.1em;
        margin-top: -2em;
        padding-top: 2em;
        
        img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

.portfolio1 {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    background: #141115;
    display: flex;
    position: relative;
    z-index: 1;
    background-image: url("../images/circlespattern.svg");
    background-clip: inherit;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    height: 50vh;
    
    
    .background-circles {
        display: block;
        width: 100%;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;

    }

    .contact-form {
        border-radius: 25px;
        display: flex;
        float: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background: #141115;
        width: 80%;
    }

    .contact-left {
        border-radius: 25px;
        background: #FEBC71;
        padding-left: 1em;
        padding-right: 5em;
        flex-grow: 1;

        img {
            height: 1.5em;
            fill: #141115;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: -1em;
            margin-left: -.9em;
        }

        li {
            margin-right: -.7em;
        }

    }
    .contact-title {
        font-family: "Bitter";
        color: #141115;
        font-size: 2em;
        text-align: left;
    }

    .contact-right {
        padding: 1em;
        flex-grow: 5;
    }

    .contact-left-floral {
        position: absolute;
        width: 10em;
    }

    .contact-right-floral {
        position: absolute;
        width: 10em;
        margin-left: 20em;
    }

    .contact-form-box {
        display: flex;
        flex-direction: column;
    }

}
