@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700;800&family=Open+Sans:wght@300;400&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family:'Open Sans';
    font-weight: lighter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img { 
    width: 100%
}

.nav-container {
    background: #141115;

    a {
        color: #FFF1E1;
    }

    nav {
        float: right;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-family: "Bitter";
        padding-top: .3em;
        padding-left: 1em;
        font-size: .7em;
    }

    ul {
        display: flex;
        font-size: .7em;
        padding-top: .1em;
        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.right-header {
    display: none;
}

.topmain {
    background: #141115;
    color: #FFF1E1;
    display: grid;
    text-align: left;
    height: 80%;
    
    .top-content {
        margin-left: 2.7em;
    }

    .top-title {
        font-family: "Bitter";
        font-size: 3em;
    }
  
}

.cta {
    display: flex;
    font-weight: bold;
    margin-top: -2em;

    .meet-button {
        border-radius: 25px;
        background: #FEBC71;
        width: 8em;
        height: 2em;
        padding-left: 1.5em;
        padding-top: .5em;
        margin-top: 1.5em;
        margin-right: 1em;
    }

    img {
        height: 2em;
        margin-right: .5em;
        margin-top: 1.7em;
    }
}

.topmain-elements {
    display: none;
}

section {
    padding: 2.5em 2.5em;
    text-align: left;
}

.about {
    position: relative;
    background-color: #FFF1E1;
    z-index: -1;
}

.floral-image-about {
    position: absolute;
    width: 20em;
    margin-left: -4em;
    z-index: -1;
    margin-top: -1.5em;
}

.about-subtitle, .about-experience {
    font-size: 1.3em;
    margin-bottom: 0em;
}

.about-title {
    font-family: "Bitter";
    font-weight: 700;
    font-size: 3em;
    margin-top: 0em;
}

.about-body {
    margin-top: -1em;
}

.about-toptech {

    margin-top: 3em;

    .about-tech {
        
        display: flex;
        text-align: center;
        width: 100%;

        .about-tech-id {
            width: 7em;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        li {
            flex-grow: 1;
            margin-top: 1em;
        }

        img {
            height: 3.5em;
            margin: 0 auto;
            padding-bottom: .5em;
        }
    }
}

.tech-title {
    border-radius: 25px;
    font-size: 1em;
    color: #FFF1E1;
    background: #141115;
    width: 6em;
    margin: 0 auto;
}

.about-exp {
    margin-top: 3em;
}

.job-header {
    .job-title {
        font-family:"Bitter";
        font-size: 1.5em;
    }

    .job-loc {
        font-family:"Bitter";
        margin-top: -1em;
        font-weight: 700;
        font-size: 1em;
    }

}

.job-time {
    margin-top: -.5em;
    font-weight: 100;
    font-size: .95em;
}

.job-technologies {
    display: flex;

    ul {
        display: flex;
        flex-direction: row;
    }
    .job-tech {
        border-radius: 25px;
        font-size: 1em;
        color: #FFF1E1;
        background: #141115;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: .5em;
        margin-top: 0em;
    }
}

.job-desc {
    ul {
        margin-left: 1.2em;
        list-style-type: disc;
    }
}


.portfolio-floral {
    position: absolute;
    width: 20em;
    margin-top: -2em;
    z-index: 1;
}
.portfolio {
    background: #141115;

    .portfolio-title {
        font-family: "Bitter";
        font-size: 3em;
        position: relative;
        z-index: 5;
    }

    .portfolio-box {
        background: #FFF1E1;
        z-index: 0;
    }

    .portfolio-tech {
        position: relative;
        z-index: 1;
    }

}




