@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700;800&family=Open+Sans:wght@300;400&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family:'Open Sans';
    font-weight: lighter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img { 
    width: 100%
}

.nav-container {
    background: #141115;

    a {
        color: #FFF1E1;
    }

    nav {
        float: right;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-family: "Bitter";
        padding-left: 2em;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.right-header {
    display: none;
}

.topmain {
    background: #141115;
    color: #FFF1E1;
    display: grid;
    text-align: left;
    padding: 4em;
    
    .top-title {
        font-family: "Bitter";
        font-size: 5em;
    }
  
}

.cta {
    display: flex;
    font-weight: bold;
    margin-top: -2em;

    .meet-button {
        border-radius: 25px;
        background: #FEBC71;
        width: 8em;
        height: 2em;
        padding-left: 1.5em;
        padding-top: .5em;
        margin-top: .4em;
        margin-right: 1em;
    }

    img {
        height: 2em;
        margin-right: .5em;
        margin-top: .6em;
    }
}

.topmain-elements {
    display: none;
}

section {
    padding: 4em 4em;
    text-align: left;
}

.about {
    position: relative;
    background-color: #FFF1E1;
}

.floral-image-about {
    position: absolute;
    width: 25em;
    margin-left: -4em;
    z-index: -1;
    margin-top: 0em;
}

.about-subtitle {
    font-size: 1.3em;
    margin-bottom: 0em;
}

.about-title {
    font-family: "Bitter";
    font-weight: 700;
    font-size: 3em;
    margin-top: 0em;
}

.about-tech {
    
    display: flex;
    text-align: center;
    margin-right: 4em;

    .about-tech-id {
        width: 7em;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    li {
        flex-grow: 1;
        margin-top: 1em;
    }

    img {
        height: 3.5em;
        margin: 0 auto;
    }
}

.tech-title {
    border-radius: 25px;
    font-size: 1em;
    color: #FFF1E1;
    background: #141115;
    width: 6em;
    margin: 0 auto;
}